$primary:                     #181e41;
$secondary:                   #c12121;

// Typography
$font-family-sans-serif:      "Quicksand", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-brand:           "Pattaya", sans-serif;

$font-weight-semibold:        600;

$tiny-font-size:              75%;
$small-font-size:             85%;
$big-font-size:               112%;
$large-font-size:             150%;
$xlarge-font-size:            170%;

