.container {
  position: relative;
}

.cityName {
  font-size: 2rem;
  margin-bottom: .3rem;
  font-weight: 700;
  color: var(--bs-primary);
}

.weatherIcon {
  position: absolute;
  top: 0;
  right: 0;
}
